@using Uch_PracticeV3.OfficeInteraction
@model EnterParams

@if (ViewBag.isResultEmpty != null)
{
    <h1>Запрос не дал результатов!</h1>
}
else
{
    <div class="row justify-content-between">
        <div class="col-md-8 col-sm-8">
            <h2 class="text-primary my-4">@ViewBag.Title:</h2>
        </div>
        <div class="col-md-4 col-sm-4 d-flex flex-column justify-content-around">
            <div class="row justify-content-end pr-3">
                @if (ViewBag.Param == null)
                {
                    <a href="#" onclick="event.preventDefault(); window.location.assign(window.location.href.split('=')[0] + '=excel')"
                       id="add-button" class="mx-2 px-3 py-2 badge badge-success"><i style="font-size:2.5rem" class="fas fa-file-excel"></i></a>
                    <a href="#" onclick="event.preventDefault(); window.location.assign(window.location.href.split('=')[0] + '=word')"
                       id="edit-button" class="mx-2 px-3 py-2 badge badge-primary"><i style="font-size:2.5rem" class="fas fa-file-word"></i></a>
                }
                else
                {

                    <a href="#" onclick="event.preventDefault(); window.location.assign(window.location.href.split('=')[0] + '=excel&param='+'@ViewBag.Param')"
                       id="add-button" class="mx-2 px-3 py-2 badge badge-success"><i style="font-size:2.5rem" class="fas fa-file-excel"></i></a>
                    <a href="#" onclick="event.preventDefault(); window.location.assign(window.location.href.split('=')[0] + '=word&param='+'@ViewBag.Param')"
                       id="edit-button" class="mx-2 px-3 py-2 badge badge-primary"><i style="font-size:2.5rem" class="fas fa-file-word"></i></a>
                }
            </div>
        </div>
    </div>
    <table class="table" id="table">
        <thead class="thead-dark">
            <tr>
                @foreach (string col in Model.colnames)
                {
                    <th scope="col">@col</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (List<string> row in Model.rows)
            {
                <tr>
                    @*Это всегда Id*@
                    <th scope="row">@row[0]</th>
                    @* Кроме кода *@
                    @foreach (string rowItem in row.Except(new List<string>() { row[0] }))
                    {
                        <td>@rowItem</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}