@using Uch_PracticeV3.Models
@model Leader

<form action="/Admin/Leaders/@ViewBag.Action" method="post" class="my-3">
    @if (ViewBag.Action == "edit")
    {
        <input hidden name="Id" value="@Model.Id" />
    }
    <div class="form-group">
        <label for="Surname">Фамилия</label>
        @if (ViewBag.Action == "edit")
        {
            <input required maxlength="30" name="Surname" type="text" class="form-control" id="Surname"
                    value="@Model.Surname">
        }
        else
        {
            <input required maxlength="30" name="Surname" type="text" class="form-control" id="Surname">
        }
    </div>
    <div class="form-group">
        <label for="Name">Имя</label>
        @if (ViewBag.Action == "edit")
        {
            <input required maxlength="30" name="Name" type="text" class="form-control" id="Name"
                    value="@Model.Name">
        }
        else
        {
            <input required maxlength="30" name="Name" type="text" class="form-control" id="Name">
        }
    </div>
    <div class="form-group">
        <label for="Patronymic">Отчество</label>
        @if (ViewBag.Action == "edit")
        {
            <input name="Patronymic" maxlength="30" type="text" class="form-control" id="Patronymic"
                    value="@Model.Patronymic">
        }
        else
        {
            <input name="Patronymic" maxlength="30" type="text" class="form-control" id="Patronymic">
        }
    </div>
    <div class="form-group">
        <label for="RankId">Должность</label>
        <select class="form-control" name="RankId" id="RankId">
            @foreach (Rank rank in ViewBag.Ranks)
            {
                if (ViewBag.Action == "edit")
                {
                    <option selected="@(rank.Id == @Model.RankId)" data-toggle="tooltip"
                            data-placement="right" title="@rank.Naming">
                        @rank.Id
                    </option>
                }
                else
                {
                    <option data-toggle="tooltip" data-placement="right" title="@rank.Naming">@rank.Id</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        @if (ViewBag.Action == "edit")
        {
            <input name="Email" maxlength="40" type="email" placeholder="@("почта@mail.ru")" pattern="@("^[A-Za-z]+@mail.ru$")" class="form-control" id="Email"
                    value="@Model.Email">
        }
        else
        {
            <input name="Email" maxlength="40" type="email" placeholder="@("почта@mail.ru")" pattern="@("^[A-Za-z]+@mail.ru$")" class="form-control" id="Email">
        }
    </div>
    <div class="form-group">
        <label for="Phone">Телефон</label>
        @if (ViewBag.Action == "edit")
        {
            <input name="Phone" type="text" placeholder="Телефон в формате (89XXXXXXXXX)" pattern="^89\d{9}$" class="form-control" id="Phone"
                    value="@Model.Phone">
        }
        else
        {
            <input name="Phone" type="text" placeholder="Телефон в формате (89XXXXXXXXX)" pattern="^89\d{9}$" class="form-control" id="Phone">
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>