@using Uch_PracticeV3.Models
@model Specialty

    <form action="/Admin/Specialties/@ViewBag.Action" method="post" class="my-3">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @if (ViewBag.Action == "edit")
            {
                <input hidden class="form-control" name="Id" value="@Model.Id" />
            }
            else
            {
                <label for="Id">Код</label>
                if (ViewBag.Errors != null)
                {
                    <input name="Id" value="@Model.Id" required placeholder="Код специальности в формате XX.XX.XX" pattern="^\d{2}.\d{2}.\d{2}$" maxlength="8" class="form-control" />
                }
                else
                {
                    <input name="Id" required placeholder="Код специальности в формате XX.XX.XX" pattern="^\d{2}.\d{2}.\d{2}$" maxlength="8" class="form-control" />
                }
            }
        </div>
        <div class="form-group">
            <label for="Educational_Program">Направление подготовки</label>
            @if (ViewBag.Action == "edit" || ViewBag.Errors != null)
            {
                <input name="Educational_Program" maxlength="70" type="text" class="form-control" id="Educational_Program"
                       value="@Model.Educational_Program">
            }
            else
            {
                <input name="Educational_Program" maxlength="70" type="text" class="form-control" id="Educational_Program">
            }
        </div>
        <button type="submit" class="btn btn-primary">@(ViewBag.Action == "edit"?"Изменить":"Добавить")</button>
    </form>