@using Uch_PracticeV3.Models
@model Group

    <form action="/Admin/Groups/@ViewBag.Action" method="post" class="my-3">
        @Html.AntiForgeryToken()
        @if (ViewBag.Action == "edit")
        {
            <input hidden name="Id" value="@Model.Id" />
        }
        <div class="form-group">
            <label for="Naming">Название</label>
            @if (ViewBag.Action == "edit" || ViewBag.Errors != null)
            {
                <input name="Naming" required maxlength="9" placeholder="Название в формате (А-Я*-XX-X)"
                       pattern="^[А-Я]+-\d{2}-\d$" type="text" class="form-control" id="Naming"
                       value="@Model.Naming">
            }
            else
            {
                <input name="Naming" required maxlength="9" placeholder="Название в формате (А-Я*-XX-X)"
                       pattern="^[А-Я]+-\d{2}-\d$" type="text" class="form-control" id="Naming">
            }
        </div>
        <div class="form-group">
            <label for="SpecialtyId">Направление подготовки</label>
            <select class="form-control" required name="SpecialtyId" id="SpecialtyId">
                @foreach (Specialty spec in ViewBag.Specialties)
                {
                    if (ViewBag.Action == "edit" || ViewBag.Errors != null)
                    {
                        <option selected="@(spec.Id == @Model.SpecialtyId)" data-toggle="tooltip"
                                data-placement="right" title="@spec.Educational_Program">
                            @spec.Id
                        </option>
                    }
                    else
                    {
                        <option data-toggle="tooltip" data-placement="right" title="@spec.Educational_Program">@spec.Id</option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">@(ViewBag.Action == "edit"?"Изменить":"Добавить")</button>
    </form>