@if (ViewBag.NextPageExists || ViewBag.PageIndex != 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.PageIndex != 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.Table?page=@(@ViewBag.PageIndex - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @if (ViewBag.PageIndex != 1)
            {
                <li class="page-item"><a class="page-link" href="@ViewBag.Table?page=1">1</a></li>
            }

            <li class="page-item active"><a class="page-link" href="@ViewBag.Table?page=@ViewBag.PageIndex">@ViewBag.PageIndex</a></li>

            @if (ViewBag.NextPageExists)
            {
                <li class="page-item"><a class="page-link" href="@ViewBag.Table?page=@(@ViewBag.PageIndex + 1)">@(@ViewBag.PageIndex + 1)</a></li>
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.Table?page=@(@ViewBag.PageIndex + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
