@using Uch_PracticeV3.Models
@model List<Sector>

<div class="row justify-content-between">
    <div class="col-md-4 col-sm-6">
        <h2 class="text-primary my-4">Таблица отраслей:</h2>
    </div>
    <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-around">
        <div class="row align-items-center">
            <button id="add-button" class="col-lg mx-2 btn btn-success">Добавить</button>
            <button id="edit-button" class="col-lg mx-2 btn btn-warning" disabled="@(Model.Count==0)">Изменить</button>
            <button id="delete-button" class="col-lg mx-2 btn btn-danger" disabled="@(Model.Count==0)">Удалить</button>
        </div>
    </div>
</div>
@if (Model.Count == 0)
{
    <h4 class="text-primary my-4">Таблица пустая. Однако вы по-прежнему можете добавить данные!</h4>
}
else
{
    <table class="table" id="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Код</th>
                <th scope="col">Название</th>
                <th scope="col">Предприятия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Sector sector in Model)
            {
                <tr>
                    <th scope="row">@sector.Id</th>
                    <td>@sector.Naming</td>
                    <td>
                        @if (sector.Organizations.Count == 0)
                        {
                            <span>Пусто...</span>
                        }
                        else
                        {
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-info" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @sector.Organizations.First().FullNaming
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @foreach (Organization organization in sector.Organizations)
                                    {
                                        <span class="dropdown-item">@organization.FullNaming</span>
                                    }
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Html.RenderPartial("Pagination");
}
@{Html.RenderPartial("ButtonsScript");}