@using Uch_PracticeV3.Models
@model List<Sector>
@{
    ViewBag.Title = "Sectors";
}

<div class="row justify-content-between">
    <div class="col-md-4 col-sm-6">
        <h2 class="text-primary my-4">Таблица отраслей:</h2>
    </div>
    <div class="col-md-4 col-sm-6 d-flex flex-column justify-content-around">
        <div class="row align-items-center">
            <button id="add-button" class="col-lg mx-2 btn btn-success">Добавить</button>
            <button id="edit-button" class="col-lg mx-2 btn btn-warning">Изменить</button>
            <button id="delete-button" class="col-lg mx-2 btn btn-danger">Удалить</button>
        </div>
    </div>
</div>
<table class="table" id="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Код</th>
            <th scope="col">Название</th>
            <th scope="col">Предприятия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sector sector in Model)
        {
            <tr>
                <th scope="row">@sector.Id</th>
                <td>@sector.Naming</td>
                <td>
                    @if (sector.Organizations.Count == 0)
                    {
                        <span>Пусто...</span>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle btn-info" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @sector.Organizations.First().FullNaming
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (Organization organization in sector.Organizations)
                                {
                                    <span class="dropdown-item">@organization.FullNaming</span>
                                }
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (ViewBag.PageIndex != 1)
        {
            <li class="page-item">
                <a class="page-link" href="Sectors?page=@(@ViewBag.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        @if (ViewBag.PageIndex != 1)
        {
            <li class="page-item"><a class="page-link" href="Sectors?page=1">1</a></li>
        }

        <li class="page-item active"><a class="page-link" href="Sectors?page=@ViewBag.PageIndex">@ViewBag.PageIndex</a></li>

        @if (ViewBag.NextPageExists)
        {
            <li class="page-item"><a class="page-link" href="Sectors?page=@(@ViewBag.PageIndex + 1)">@(@ViewBag.PageIndex + 1)</a></li>
            <li class="page-item">
                <a class="page-link" href="Sectors?page=@(@ViewBag.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>

<script>
    const addButtonClickListener = (action = 'edit') => {
        $(`#${action}-button`).on('click', () => {
            if ($('table').children('tbody').first().children('tr').hasClass('selectable')) {
                return;
            }
            $('#table').children('tbody').first().children('tr').addClass('selectable').on('click', event => {
                const id = event.target.closest('tr').firstElementChild.textContent;
                window.location.assign(`/Admin/Sectors?action=${action}&rowId=${id}`);
            });
        });
    };
    $('#add-button').on('click', () => window.location.replace('/Admin/Sectors?action=add'));
    addButtonClickListener('edit');
    addButtonClickListener('delete');
</script>