@using Uch_PracticeV3.Models
@model Contract

    <form action="/Contracts/@ViewBag.Action" method="post" class="my-3">
        @Html.AntiForgeryToken()
        @if (ViewBag.Action == "Update")
        {
            <input hidden name="Id" value="@Model.Id" />
        }
        <div class="form-group">
            <label for="OrganizationId">Организация</label>
            <select class="form-control" name="OrganizationId" id="OrganizationId">
                @foreach (Organization org in ViewBag.Organizations)
                {
                    if (ViewBag.Action == "Update" || ViewBag.Errors!=null)
                    {
                        <option selected="@(@org.Id == @Model.OrganizationId)" data-toggle="tooltip"
                                data-placement="right" title="@org.FullNaming">
                            @org.Id
                        </option>
                    }
                    else
                    {
                        <option data-toggle="tooltip" data-placement="right" title="@org.FullNaming">@org.Id</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="Enter_Date">Дата заключения</label>
            @if (ViewBag.Action == "Update" || ViewBag.Errors != null)
            {
                <input required name="Enter_Date" type="date" class="form-control" id="Enter_Date"
                       value="@(@Model.Enter_Date.ToString("yyyy-MM-dd"))">
            }
            else
            {
                <input required name="Enter_Date" type="date" class="form-control" id="Enter_Date">
            }
        </div>
        <div class="form-group">
            <label class="form-check-label" for="Termination_Date">Дата расторжения</label>
            @if (ViewBag.Action == "Update" || ViewBag.Errors != null)
            {
                <input name="Termination_Date" type="date" class="form-control" id="Termination_Date"
                       value="@(@Model.Termination_Date?.ToString("yyyy-MM-dd"))">
            }
            else
            {
                <input name="Termination_Date" type="date" class="form-control" id="Termination_Date">
            }
        </div>
        <button type="submit" class="btn btn-primary">@(ViewBag.Action == "Update"?"Изменить":"Добавить")</button>
    </form>